/* Write your CSS code here */
.products-image {
  height: 100px;
  width: 100px;
}

.products-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
